__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.db-journal
*.db-wal
*.db-shm
.vscode/
scratch/
Llanos_Core_Suite/Backend_Local/llanos_core.db
